<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/reto2.css">
    <title>Reto 2</title>
</head>

<body>
    <div class="main-container">
        <div class="background"></div>
        <div class="reto2-container">
            <div class="background-reto3"></div>
            <div class="content">
                Hemos empezado a infiltrarnos con éxito; sin embargo, aún hay 
                distintos obstáculos para acceder al código que necesitamos... Regresa
                al momento y a los documentos que te trajeron hasta aquí.
                <br>
                <br>
                "El reto está en el momento, el tiempo es siempre ahora” -James Baldwin
                <br>
                <br>
                Los pases del espacio temporal que te trajeron hasta aquí 
                son los que darán inicio a un nuevo viaje… ¿Estás listo para
                empezar a cambiar tu futuro desde tu presente?
                <br>
            </div>
            
            <div class="login-confirmar">
                <input type="text" name="respuesta" id="respuesta">
                <br>
            </div>
            
            <div class="login-boton" id="tipo-boton">
                <button id="boton" onclick="checkAnswer()">Verificar</button> 
            </div>
            
            <div class="login-error description" id="veredicto">                 
            </div>
        </div>
</body>
<script>
    function checkAnswer() {
        let respuesta = document.getElementById('respuesta').value;

        let data = {ans: respuesta, nombreBoton: 'Verificar'};
        
        fetch('/agentes/reto2', {
            method: 'POST',
            body: JSON.stringify(data),
            headers: {
                'Content-Type': 'application/json'
            }
        })
        .then(result => {
            return result.json();
        })
        .then(data => {
            if(data.veredicto === 'Correcto') {
                let html = '';
                html += '<form action="/agentes/reto2" method="POST">';
                html += '<input type="hidden" name="nombreBoton" value="Siguiente">';
                html += '<button id="boton" type="submit">Siguiente</button>';
                html += '</form>';   
                document.getElementById('tipo-boton').innerHTML = html;
                document.getElementById('veredicto').innerHTML = '&nbsp;&nbsp;Sigamos';
            }
            else {
                document.getElementById('veredicto').innerHTML = '&nbsp;¿Seguro?';
            }
        })
        .catch(err => {
            console.log(err);
        }); 

        return;
    }
</script>

</html>
